<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="chainId" value="1064487b3cd1a897ce03ae5b6a865651747e2e152090f99c1d19d44e01aea5a4"/>
    <add key="api" value="https://api.waxsweden.org"/>
    <add key="historyApi" value="https://api.waxeastern.cn"/>
    <add key="abiFolder" value="./abis/"/>
    <add key="abiFileSuffix" value="abis.json"/>
    <add key="abiFileSeparator" value="-"/>
    <add key="logFolder" value="./logs/"/>
    <add key="blockWarningLogFile" value="block-warning.txt"/>
    <add key="printAll" value="false"/>
    <add key="includeEosioModels" value="true"/>
    <add key="includeEosSharpTest" value="true"/>
    <add key="includeExtensions" value="true"/>
  </appSettings>
</configuration>